.shop {
  background-image: url(https://assets-global.website-files.com/65b9cce908217ff5cd624b00/65c0c2fc748a66371466c1ec_hero-inner-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  filter: brightness(60%);
  margin-bottom: 100px;
}
.shop h1 {
  font-size: 60px;
  text-align: center;
  padding-top: 80px;
  color: var(--color--white);
}
.cube img {
  width: 300px;
}
.names {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.cube h3 {
  font-size: 22px;
  width: 300px;
  color: orangered;
}
.cube a {
  text-decoration: none;
}
